<% @songs.each do |x| %>
    <tbody>
        <tr><
            <p> <%= x.title %> </p>
            <p> <%= x.release_year %> </p>
            <p> <%= x.genre %> </p>
            <p> <%= x.artist_name %> </p>
        </tr>
    </tbody>    
<% end %>